.game-wrapper {
    padding: 12px;
}
.game-container {
    display: flex;
    gap: 12px;

    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
    border-radius: 20px;
    
    height: calc(100vh - 92px);
}

.task-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}
.task-heading-text, .task-difficulty {
    color: var(--black);
}

.task-difficulty {
    padding: 6px;
    background-color: var(--green);
    color: var(--white);
    font-weight: 600;
    border-radius: 20px;
    align-content: center;
}

.task-description, .task-description h3 {
    color: var(--black);
}

.task-container, .result-container, .animation-container {
    padding: 12px;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    border-radius: 20px;
}

.double-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.code-container {
    width: 100%;
    padding: 12px;
    
    background-color: white;
    border-radius: 20px;
}

.code-container .code-input {
    height: 98%;
    box-sizing: border-box;
}

.quit-button {
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);

    border-radius: 20px;
    padding: 10px;
    font-weight: 600;

    color: var(--white);
    background-color: var(--red);

    transition: 0.1s all;
}

.quit-button:hover {
    transform: translateY(10px);

    transition: 0.3s all;
}
