.PageWrapper {
    justify-items: center;
    align-content: center;
    height: calc(100vh - 68px);
}

.authPage {
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    margin: 32px 0px;
    padding: 24px;
    border-radius: 24px;

    background: var(--dark);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.authPage__title {
    text-align: center;
    margin-bottom: 12px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
}

.authPage__status {
    border-left: 4px solid var(--gray);
    padding: 16px;
    border-radius: 16px;

    font-weight: 300;
    font-style: italic;
    color: var(--gray);
    background-color: var(--black);

    margin-bottom: 24px;
}

.authPage__form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.authPage__input-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.authPage__input-cover {
    position: absolute;

    color: var(--dark);
    align-content: center;
    background-color: var(--white);

    width: 100%;
    height: 100%;
    border-radius: 12px;

    padding-left: 12px;
    font-size: 14px;
    font-weight: 350;
}

.authPage__form--input {
    border-radius: 12px;

    border: 2px solid var(--white);
    outline: none;

    color: var(--white);
    background-color: var(--dark);
    caret-color: var(--dark);
    width: 100%;

    padding: 12px;
}

.authPage__form--input:focus {
    caret-color: white;
}

.authPage__form--input:is(:-webkit-autofill, :autofill) {
    background-color: var(--yellow-ball) !important;
}

.authPage__form--button {
    background-color: transparent;
}

.authPage__form--button:hover {
    background-color: var(--black);
}

.active-cover {
    width: 0;
    height: 0;
    border-radius: 10%;

    background-color: var(--yellow);
    content-visibility: hidden;
    transform: translate(100%);
    transition: 0.5s all cubic-bezier(0.47, 0, 0.745, 0.715);
}
.active-field {
    transition: 0.5s border ease-in-out;
}
.active-field:focus {
    border: 2px dashed var(--yellow);
    background-color: var(--black);
    font-size: 16px;

    transition: 0.3s font-size ease-out;
}