.profile {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.profile_comp {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.profile__descr {
    display: flex;
    gap: 32px;
    align-items: center;
    margin-top: 30px;
}
.profile__descr--icon {
    max-width: 264px;
    aspect-ratio: 1 / 1;
    width: 100%;
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    color: #000;
    align-items: center;
    font-size: 64px;
    font-weight: bold;
}
.profile__descr--info {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.profile__descr--info--name {
    font-size: 30px;
    font-weight: bold;
}
.profile__descr--info--lvl {
    display: flex;
    gap: 16px;
    width: 100%;
}
.profile__descr--info--lvl--text {
    font-size: 16px;
    font-weight: 800;
    color: var(--yellow);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.profile__descr--info--lvl--bar {
    position: relative;
    max-width: 325px;
    width: 100%;
    background-color: var(--white);
    z-index: 1;
    text-align: center;
    border-radius: 3px;
    transform: skewX(-30deg);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.profile__descr--info--lvl--bar--currentbar {
    position: relative;
    height: 100%;
    z-index: 2;
    max-width: 325px;
    background-color: var(--yellow);
    border-radius: 3px;
}
.currentbar__text {
    position: absolute;
    color: #000;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) skewX(30deg);
    font-size: 14px;
    font-weight: bold;
   
}

.stats_cards {
    display: flex;
    gap: 24px;
    position: relative;
    width: 100%;
}

.stats_card {
    padding: 12px 0;
    background-color: var(--blue);
    width: calc((100% - 24px * 3) / 4 );
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats_card__descr {
    color: #8e8e8e;
    font-weight: bold;
}

.stats_card__name {
    color: var(--yellow);
    font-size: 24px;
    font-weight: 850;
}

.stats_card__value {
    font-size: 64px;
    font-weight: bold;
    font-style: italic;
    margin: 18px 0;
}

.stats_card__info {
    display: flex;
    width: 100%;
}
.stats_card__info--side {
    /* width: 50%; */
    text-align: center;
}
.stats_card__info--side--value {
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
}
.stats_card__info--side--sign {
    font-size: 12px;
    color: #8e8e8e;
    font-weight: bold;
}
