.border-button {
    border: 2px solid white;
    border-radius: 34px;

    font-size: 16px;
    color: white;

    padding: 12px 24px;
    transition: all 0.3s;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
    user-select: none;

    &:hover {
        transform: translate(0px, 2px);
        transition: all 0.1s;
        cursor: pointer;
    }

    @media screen and (max-width: 1024px) {
        font-size: 14px;
    }
}