.historyCard {
    padding: 7px 25px;
    width: 100%;
    border-radius: 12px;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}
.win {
    background: linear-gradient(90deg, var(--green) 0%, var(--light-green) 100%);
}
.lose {
    background: linear-gradient(90deg, var(--red) 0%, var(--light-red) 100%);
}
.historyCard__info {
    display: flex;
    gap: 90px;
    align-items: center;
}

.historyCard__info--type {
    max-width: 140px;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
}

.historyCard__info--opponent {
    display: flex;
    width: 250px;
    gap: 14px;
    align-items: center; 
}

.opponent__icon {
    background-color: var(--white);
    color: #000;
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0; 
    font-size: 24px;
    font-weight: bold;
}

.opponent__info {
    display: flex;
    font-weight: bold;
    flex-direction: column;
    flex-grow: 1;
}

.opponent__info--name {
    font-size: 20px;
}
.opponent__info--rating {
    font-size: 14px;
}

.historyCard__rating {
    font-size: 30px;
}