
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #fff;
  user-select: none;

  --yellow: #f9ca24;
  --blue: #30336b;
  --green: #6AB04C;
  --light-green: #BADC58;
  --red: #EB4D4B;
  --light-red: #FF7979; 
  --white: #fff;
  --black: #181620;
}
#app {
  background-color: #130f40;
}
.main {
  max-width: 1012px;
  margin: 0 auto;
}
.icon {
  width: 24px;
  height: 24px;
  transition: transform 0.2s ease-in-out;
}
.icon:hover {
  cursor: pointer;
  transform: scale(1.2);
}
button {
  color: #000;
}