
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

#app {
  font-family: "Inter", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  user-select: none;

  --yellow: #f9ca24;
  --yellow-ball: #9C7244;
  --blue: #30336b;
  --blue-ball: #686DE0;
  --bg-color: #130f40;
  --green: #6AB04C;
  --light-green: #BADC58;
  --red: #EB4D4B;
  --light-red: #FF7979; 
  --white: #fff;
  --dark: #181620;
  --black: #0f0e11;
  --gray: #8e8e8e;
}
#app {
  background-color: #130f40;
}
.main {
  position: relative;
  max-width: 1012px;
  margin: 0 auto;
  z-index: 1;
}
.icon {
  width: 24px;
  height: 24px;
  transition: transform 0.2s ease-in-out;
}
.icon:hover {
  cursor: pointer;
  transform: scale(1.2);
}
button {
  color: #000;
}
.yellow-ball {
  position: fixed;
  z-index: 0;
  border-radius: 50%;

  background: radial-gradient(var(--yellow-ball) 0%, var(--bg-color) 70%);

  top: -64px;
  left: -64px;
  width: 128px;
  height: 128px;

  transform: scale(12, 12);
  background-color: var(--white);

  transition: 5s all;
}

.blue-ball {
  position: fixed;
  z-index: 0;
  border-radius: 50%;

  background: radial-gradient(var(--blue-ball) 0%, var(--bg-color) 70%);

  bottom: -64px;
  right: -64px;
  width: 128px;
  height: 128px;

  transform: scale(10, 10);
  background-color: var(--white);

  transition: 5s all;
}


.yellow-ball:hover, .blue-ball:hover {
  transform: scale(20, 20);
  transition: 2s all;
}